/*
  All CSS for Stock Farmer
*/

*{
  font-family: 'Roboto', sans-serif;
  color: white;
}

body{
  margin: 0;
  background: #111;
}

::-webkit-scrollbar{
  background-color: black;
  width: 8px;
  border-radius: 1px;
}

::-webkit-scrollbar-thumb{
  background-color: #3a3a3a;
  border-radius: 3px;
}

#canvas{
  float: right;
  display: block;
  cursor: pointer;
  position: relative;
  top: -10px;
}

#wrap{
  width: 920px;
  margin: 0 auto;
  display: block;
  top: 30px;
  position: relative;
}

#crate-open-background{
  height: 500px;
  width: 400px;
  top: 10px;
  left: 260px;
  position: absolute;
  background: rgba(0,0,0,1);
  border-radius: 10px;
  box-shadow: 0px 0px 20px black;
}

#market-lister{
  height: 500px;
  width: 400px;
  top: 10px;
  left: 260px;
  position: absolute;
  background: rgba(0,0,0,.95);
  border-radius: 10px;
  box-shadow: 0px 0px 20px black;
  text-align: center;
}

#cancel-button{
  display: block;
  background: #dbdbdb;
  box-shadow: 0px 6px 0px #aaaaaa;
  color: #111;
  position: relative;
  top: 220px;
  margin: 0 auto;
}

#smaller-header-lister{
  font-size: 15px;
  margin: 0 auto;
  position: relative;
  display: block;
  text-align: center;
  top: 60px;
}

#item-name-lister{
  font-size: 30px;
  margin: 0 auto;
  position: relative;
  display: block;
  text-align: center;
  top: 80px;
}

#asking-price-label{
  position: relative;
  top: 120px;
}

#list-button-final{
  position: relative;
  top: 200px;
}


#lister-value-amount{
  z-index: 20;
  top: 140px;
  margin: 0 auto;
  display: block;
  text-align: center;
  position: relative;
  font-size: 30px;
}


/* Main overlay */
#overlay-block{
  position: absolute;
  top: 10px;
  left: 10px;
  width: 900px;
  height: 500px;
  background: rgba(0,0,0,0.95);
  border-radius: 5px;
  box-shadow: 0px 0px 20px black;
}

#control-panel{
  height: 300px;
  width: 300px;
  position: absolute;
  left: 10px;
  top: 200px;
}

#server-loading-overlay{
  position: absolute;
  width: 400px;
  height: 250px;
  display: block;
  background: black;
  top: 100px;
  left: 260px;
  z-index: 10;
  border-radius: 5px;
  box-shadow: 0px 0px 15px black;
}

#loadingvideo{
  position: relative;
  margin: 0 auto;
  display: block;
  
}

#accountInfo{
  position: absolute;
  top: 410px;
  right: 10px;
}

#connecting-message{
  position: relative;
  margin: 0 auto;
  display: block;
  text-align: center;
}

#black-overlay{
  position: absolute;
  width: 100%;
  height:100vh;
  background: rgba(0,0,0,0.5);
}

#logo{
  position: absolute;
  top: -20px;
  left: 000px;
  height: 120px;
}

#stats{
  display: block;
  height: 200px;
  position: absolute;
  width: 200px;
  top: 100px;
  left: 20px;
  font-size: 30px;
  transition: all 1s;
}

img {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  user-drag: none;
}




#outof{
  font-size: 18px;
}

.coin{
  height: 40px;
  position: relative;
  top: 10px;
  left: -6px;
}


.silver-particle{
  height: 40px;
  position: absolute;
  top: 300px;
  right: 580px;
  z-index: -1;
  transition: all 0.3s;
  
}

.silver-particle-after{
  top: 57px;
  right: 165px;
}



.menubuttons{
  float:left;
  display: block;
  width: 200px;
}

.btn{
  height: 40px;
  padding: 20px;
  font-size: 20px;
  line-height: -0px;
  background: #57e565;
  border: none;
  box-shadow: 0px 6px 0px #41af4c;
  cursor: pointer; 
  transition: all 0.05s;
  margin: 10px;
  border-radius: 4px;
  transition: all 0.05s;
}

.btn:disabled{
  background: #383737;
  box-shadow: 0px 6px 0px #262626;
}

.btn:hover{
  transform: scale(1.05);
}

.btn:active{
  transform: scale(0.95);
}

button:focus {outline:0;}
input:focus {outline:0;}


#item-list{
  height: 310px;
  position: absolute;
  top: 100px;
  left: 50px;
  background: rgba(255,255,255,0.05);
  width: 30%;
  border-radius: 5px;
  overflow-x: hidden;
  overflow-y: auto;
}

#backbutton{
  position: absolute;
  right: 10px;
  bottom: 10px;
  display: block;
  background: #dbdbdb;
  box-shadow: 0px 6px 0px #aaaaaa;
  color: #111;
}

#inspector{
  height: 360px;
  position: absolute;
  top: 50px;
  right: 50px;
  background: rgba(255,255,255,0.05);
  width: 54%;
  border-radius: 5px;
}

#item-name{
  display: block;
  top: 20px;
  position: absolute;
  left: 30px;
  font-size: 30px;
}

#item-description{
  display: block;
  top: 70px;
  position: absolute;
  width: 85%;
  left: 30px;
  height: 150px;
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 20px;
}

#value{
  display: block;
  bottom: 30px;
  position: absolute;
  width: 30%;
  left: 30px;
}



#listings{
  position: absolute;
  height: 220px;
  top: 30px;
  right: 30px;
  border-radius: 5px;
  background: rgba(0,0,0,0.5);
  width: 200px;
  overflow-x: hidden;
  overflow-y: auto;
}

#tiny-listing{
  position: relative;
  display: block;
  width: 100%;
  height: 30px;
  line-height: 28px;
  background: rgba(255,255,255,0.1);
  padding: 5px;
  
}

#tiny-buy{
  float: right;
  padding-top: 0px;
  padding-right: 17px;
  color: #57e565;
}

#quicklist-button{
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.list-pick{
  height: 40px;
  width: 100%;
  background: rgba(0,0,0,0.5);
  display: block;
  position: relative;
  cursor: pointer;
  
}

.list-pick:hover{
  background: rgba(0,0,0,0.1);
}

.item-name-pick{
  position: absolute;
  top: 8px;
  left: 10px;
}

.item-value-pick{
  position: absolute;
  top: 8px;
  right: 10px;
}

#search{
  height: 20px;
  padding: 6px;
  width: 250px;
  border-radius: 5px;
  top: 50px;
  left: 50px;
  position: absolute;
  border: none;
  background: none;
  color: white;
  top: 50px;
  left: 50px;
  position: absolute;
}


#use-button{
  position: absolute;
  bottom: 10px;
  right: 190px;
}

#buy-button{
  position: absolute !important;
  top: 300px !important;
  right: 20px !important;
}

#buy-crate-button{
  position: relative !important;
  margin: 0 auto;
  display: block;
  top: 20px;
}

#quantity{
 position: absolute;
 bottom: 15px;
 right: 140px;
 width: 80px;
 height: 30px;
}


#crate-thumbnail{
  height: 300px;
  margin: 0 auto;
  display: block;
  position: relative;
  top: 30px;
}

#crate-name{
  text-align: center;
  margin: 0 auto;
  display: block;
  font-size: 30px;
}

input{
  height: 20px;
  padding: 6px;
  width: 250px;
  border-radius: 5px;
  border: none;
  background: none;
  color: white;
}

#amount-of-crates{
  margin: 0 auto;
  top: 20px;
  left: 0px;
  width: 100px;
  display: block;
  position: relative;
  text-align: center;
}

#buy-button{
  margin: 0 auto;
  position: relative;
  display: block;
  top: 30px;
}


#crate-cost{
  display: block;
  margin: 0 auto;
  width: 300px;
  text-align: center;
  font-size: 20px;
}



#opening-status{
  font-size: 30px;
  text-align: center;
  display: block;
  top: 30px;
  position: relative;
}

#loading-bar-under{
  height: 3px;
  top: 45px;
  position: relative;
  background: #ededed;
}

#loading-bar-over{
  height: 3px;
  top: 0px;
  left: 0px;
  width: 0%;
  background: #53d655;
  position: absolute;
  transition: all 2.8s linear;
}

.loading-after{
  width: 100%;
}

.new-item{
  position: relative;
  top: 100px;
  left: 50px;
  font-size: 20px;
  width: 75%;
  display: block;
  margin-top: 25px;
}


#signup-page{
  width: 400px;
  margin: 0 auto;
  display: block;
  position: relative;
  top: 20px;
}

#signup-logo{
  height: 200px;
  margin: 0 auto;
  display: block;
}

#welcome-text{
  font-size: 20px;
  text-align: center;
  margin: 0 auto;
  display: block;
}

.login-input{
  position: relative;
  margin: 0 auto;
  position: relative;
  display: block;
  margin-bottom: 20px;
  
}

.signup-button{
  position: relative;
  
}

#signerbuttons{
  display: block;
  position: relative;
  width: 255px;
  margin: 0 auto;
}

#error_login{
  position: relative;
  display: block;
  margin: 0 auto;
  color: #f25e5e;
  width: 300px;
  top: 10px;
}







